<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style3.css">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2 id="logo">Cervi Care</h2>
            <ul>
                <l1><a href="/">Home</a></l1>
                <l1><a href="/info">Info</a></l1>
                <l1><a href="/diagnose">Dignosis</a></l1>
                <l1><a href="/faq">FAQs</a></l1>
                <l1><a href="/about">About</a></l1>
                <l1><img src="../images/ThaparLogo.png" alt=""></l1>
            </ul>
            
        </div>
        <div class="main_content">
            <div class="head guide">
                <h1>Guidelines </h1>
            </div>
            <div class="content">
                <p><b>Age -</b> It indicates the age of a woman. It is expressed in terms of numerical values
                </p>
                <p><b>Number of sexual partners –</b> It indicates the total number of sexual partners encountered. It is expressed in terms of numerical values.</p>
                <p><b>First sexual intercourse-</b> It indicates the age of a woman when she had her first sexual intercourse. It is expressed in terms of the count.</p>
                <p><b>Number of pregnancies – </b>It indicates the total number of times the woman got pregnant. It is expressed in terms of the total count.</p>
                <p><b>Smokes (packs/year)-</b> It indicates the total number of packets of cigarettes per year the woman smokes. It is expressed in terms of numbers</p>
                <p><b>Hormonal Contraceptives (years) –</b> It indicates that for how many years the contraceptive method was used. It was in expressed in terms of total number of years.</p>
                <p><b>IUD (years) –</b> It indicated that for how many years the IUD was used. It is expressed in terms of the total number of years.</p>
                <p><b>STDs -</b> It indicates the presence of Sexually Transmitted Diseases. It is expressed in terms of zeroes and ones.</p>
                <p><b>STDs: Cervical condylomatosis –</b>It indicates the presence of Cervical condylomatosis.</p>
                <p><b>STDs:Syphilis –</b> It indicates the presence of Syphilis.</p>
                <p><b>STDs: Pelvic inflammatory disease-</b> It indicates the presence of pelvic inflammatory disease.</p>
                <p><b>STDs:genital herpes – </b>It indicates the presence of Genital Herpes.</p>
                <p><b>STDs:molluscum contagiosum –</b> It indicates the presence of Molluscum Contagiosum.</p>
                <p><b>STDs:AIDS –</b> It indicates the presence of AIDS in the patient.</p>
                <p><b>STDs:HIV –</b> It indicates the presence of HIV in the patient.</p>
                <p><b>STDs:Hepatitis B –</b> It indicates the presence of Hepatitis B in the patients.</p>
                <p><b>STDs:HPV –</b> It indicates the presence of HPV in the patients.</p>
                <p><b>STDs: Number of diagnosis –</b> It indicate the total number of times the STDs have been diagnosed.</p>
                <p><b>Dx:CIN –</b> It indicates the presence of Cervical intraepithelial neoplasia.</p>
                <p><b>Dx -</b> It indicates the presence any one among cancer, CIN and HPV.</p>
                <p><b>Hinselmann –</b> also known as colposcopy, is a medical diagnostic procedure to examine an illuminated, magnified view of the cervix as well as the vagina and vulva.</p>
                <p><b>Schiller - Schiller</b> Iodine test is a medical test in which iodine solution is applied to the cervix in order to diagnose cervical cancer.</p>
                <p><b>Cytology –</b> also called as PaP smears test, helps detect abnormal cells in the cervix, which can develop into cancer.</p>
                <p><b>Biopsy (TARGET) -</b> A cervical biopsy is a surgical procedure in which a small amount of tissue is removed from the cervix. A cervical biopsy is usually done after an abnormality has been found during cytology.</p>
            </div>
            <div class="head">
                <h1><u>FAQs</u></h1>
            </div>
            <div class="faq">
                <div class="part">
                    <h1 class="qsn">Who can get the HPV vaccine?</h1>
                <p>The HPV vaccine protects against the high-risk strains of the virus that can cause cancer. The HPV vaccine is currently available for certain adults. Ask your doctor if it is right for you. </p>
                </div>
                <div class="part">
                    <h1 class="qsn">
                        What are the signs of cervical cancer?
                        </h1>
                <p>Cervical cancer symptoms often don’t appear in the disease’s early stages but can include unusual vaginal discharge, pelvic pain and pain during sex. Your gynecologist may be able to detect signs of cervical cancer during a routine pelvic exam. It’s important to see your gynecologist regularly to have the best possible chance of identifying cervical cancer early, when it is easier to treat. </p>
                </div>
                <div class="part">
                    <h1 class="qsn">Can I lower my risk for getting cervical cancer?</h1>
                <p>The HPV vaccine, approved by the U.S. Food and Drug Administration in 2006, is designed to protect against cervical, vulvar and vaginal cancers. The CDC recommends both regular Pap smears and the HPV vaccine to reduce the risk of cervical cancer. Limiting the number of sexual partners, using condoms and not smoking are also recommended risk-reduction measures.</p>
                </div>
                <div class="part">
                    <h1 class="qsn">Does catching cervical cancer early make a difference?</h1>
                <p>Certainly, we aim to detect cervical cancer as early as possible. Early stage cervical cancer has much improved overall 5-year survival rate of upto 91%</p>
                </div>
                <div class="part">
                    <h1 class="qsn">Does cervical cancer impact fertility?</h1>
                <p>Even though you've been diagnosed with cervical cancer, family planning is still possible. When diagnosed at early stages, we have fertility sparing treatment options that allow a woman to be treated for cervical cancer in some cases and continue to have fertility.</p>
                </div>

            </div>
        </div>
    </div>
</body>
</html>