<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style2.css">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2 id="logo">Cervi Care</h2>
            <ul>
                <l1><a href="/">Home</a></l1>
                <l1><a href="/info">Info</a></l1>
                <l1><a href="/diagnose">Diagnosis</a></l1>
                <l1><a href="/faq">FAQs</a></l1>
                <l1><img src="../images/ThaparLogo.png" alt=""></l1>
            </ul>
            
        </div>
        <div class="main_content">
            <div class="head">
                <h1>Cervical Cancer</h1>
            </div>
            <p class="content">
                Cervical cancer develops in a woman's cervix (the entrance to the uterus from the vagina).

            Almost all cervical cancer cases (99%) are linked to infection with high-risk human papillomaviruses (HPV), an extremely common virus transmitted through sexual contact.

            Although most infections with HPV resolve spontaneously and cause no symptoms, persistent infection can cause cervical cancer in women.
                <br>
            Cervical cancer is the fourth most common cancer in women. In 2018, an estimated 570 000 women were diagnosed with cervical cancer worldwide and about 311 000 women died from the disease.
                <br>
            Effective primary (HPV vaccination) and secondary prevention approaches (screening for, and treating precancerous lesions) will prevent most cervical cancer cases.

            </p>
            <div id="img">
                <img src="../static/vagina.jpg" alt="Diagram of the Vagina" id="vagina">
            </div>
            <p class="content">
                When diagnosed, cervical cancer is one of the most successfully treatable forms of cancer, as long as it is detected early and managed effectively. Cancers diagnosed in late stages can also be controlled with appropriate treatment and palliative care.
                <br>
                With a comprehensive approach to prevent, screen and treat, cervical cancer can be eliminated as a public health problem within a generation.
                <br>
                No woman should die from cervical cancer. We have the technical, medical and policy tools and approaches to eliminate it. The burden of cervical cancer falls on the women who lack access to health services, mainly in low-and middle income countries.

In May 2018, the Director-General of  the World Health Organization announced a global call to action towards the elimination of cervical cancer, underscoring renewed political will to make elimination a reality, and called for all stakeholders to unite behind this common goal.

            </p>
        </div>
    </div>
</body>
</html>